h1 {
    background-color: red;
    color:white;
    ;}
h2 {
    font-size: 30px
    ;}
h3 {
    font-size: 24px
    ;}

p {
    font-size: 16px;
    }
h1.emphasis {color: brown;}
section  {
    display: gride;
}
img {max-width: 200px;}